* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #d5b4e3, #b5838d);
  color: #333;
  padding: 0 150px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #8e44ad;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #732d91;
}

.loader {
  display: none;
  text-align: center;
  margin: 20px 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin-top: 20px;
}

.gallery {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 16px;
  list-style: none;
  padding: 0;
}


.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item:hover{
  transform: scale(1.03);
}

/* .gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
} */

.thumb-block{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  color: #333;
}

